<% layout('layouts/boilerplate') -%>


<% if(!currentUser.isAdmin){ %>
<header class="jumbotron">
    <h1>User Profile</h1>
    </header>
    <% } else { %>
      <header class="jumbotron">
        <h1>Admin Profile</h1>
        </header>

      <% } %>



      <div class="col-sm-12 ">
            <div class="container-fluid">
          <div class="card img-top img-fluid" style="width: 40rem;">
            <div class = "card-block">
                  <img class="card-img-top" src="<%= currentUser.userAvatar %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%= currentUser.username %></h5>
                    <h5 class="card-title"><%= currentUser.userFirstName %></h5>
                    <h5 class="card-title"><%= currentUser.userLastName %></h5>
                    <h5 class="card-title"><%= currentUser.email %></h5>
                    <div>
                    <a class="btn btn-warning btn-lg btn-block" href="/account/<%= currentUser._id %>/edit">Edit</a>
                    </div>
  
                   
                </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>